/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  background-color: rgb(246, 248, 250);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

h3 {
  margin-top: 30px;
}

/* Utils */
.wrapper {
  width: 50%;
  margin: 0 auto;
}

/* Header */
header {
  height: 70px;
  background-color: white;
  line-height: 70px;
  padding-left: 20px;
  margin-bottom: 20px;
}

#logo {
  vertical-align: middle;
}

h1 {
  display: inline;
  font-weight: 900;
  font-size: 38px;
  vertical-align: middle;
}

/*Card */
.card {
  border-radius: 5px;
  background-color: white;
}

.card-header {
  padding: 20px 30px;
  border-bottom: 2px solid rgb(246, 248, 250);
}

.card-body {
  padding: 20px 30px;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 14px;
  text-decoration: none;
}

.btn.btn-primary {
  color: white;
  background-color: #1e90ff;
  border-color: #1e90ff;
}

.btn.btn-outline {
  color: #333333;
  background-color: white;
  border-color: currentColor;
}

/* Tasks */
.task-item {
  height: 40px;
  line-height: 40px;
}
.task-status {
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  vertical-align: middle;
}

.task-status.task-done {
  color: green;
}

.task-status.task-undone {
  color: red;
}

.task-text {
  vertical-align: middle;
}

/* Badge */
.badge {
  color: white;
  background-color: lightslategray;
  font-size: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  vertical-align: middle;
}

.bg-purple {
  background-color: #9c72e4;
}

.bg-orange {
  background-color: #f29e33;
}
.bg-blu {
  background-color: #45abea;
}
.bg-green {
  background-color: #64c0a9;
}
.bg-pink {
  background-color: #d863a1;
}
.bg-lemon {
  background-color: #b0c926;
}
